.icon-add {background:url("icon/icon32/add.png") no-repeat center center;}
.icon-addition {background:url("icon/icon32/addition.png") no-repeat center center;}
.icon-browse {background:url("icon/icon32/browse.png") no-repeat center center;}
.icon-close {background:url("icon/icon32/close.png") no-repeat center center;}
.icon-collection {background:url("icon/icon32/collection.png") no-repeat center center;}
.icon-computer {background:url("icon/icon32/computer.png") no-repeat center center;}
.icon-decoration_fill {background:url("icon/icon32/decoration_fill.png") no-repeat center center;}
.icon-delete {background:url("icon/icon32/delete.png") no-repeat center center;}
.icon-document {background:url("icon/icon32/document.png") no-repeat center center;}
.icon-empty {background:url("icon/icon32/empty.png") no-repeat center center;}
.icon-flashlight {background:url("icon/icon32/flashlight.png") no-repeat center center;}
.icon-homepage {background:url("icon/icon32/homepage.png") no-repeat center center;}
.icon-like {background:url("icon/icon32/like.png") no-repeat center center;}
.icon-refresh {background:url("icon/icon32/refresh.png") no-repeat center center;}
.icon-return {background:url("icon/icon32/return.png") no-repeat center center;}
.icon-search {background:url("icon/icon32/search.png") no-repeat center center;}
.icon-right {background:url("icon/icon32/right.png") no-repeat center center;}
